.container {
    background-color: #ffffff;
    color: #ED145B;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px;
}

.title {
    margin-bottom: 20px;
    color: #ED145B;
}

.name-field, .email-field, .password-field, .toggle-buttons {
    width: calc(100%);
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    background-color: #ED145B;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-button:hover {
    background-color: #a10e40;
}

.back-button {
    background: #1D212380;

    &:hover {
        background: #1D212399 !important;
    }
}
.toggle-buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.toggle-buttons div {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ED145B;
    background-color: #ffebee;
    color: #ED145B;
}

.toggle-buttons .active {
    background-color: #ED145B;
    color: #ffffff;
}

.no-select {
    user-select: none;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .name-field, .email-field, .password-field, .toggle-buttons {
        padding: 10px;
    }

    .register-button {
        padding: 10px;
        font-size: 14px;
    }
}