.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ED145B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.header button:hover {
    background-color: #c11146;
}

.search-bar {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    color: #a10e40;
}

.search-bar button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ED145B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.search-bar button:hover {
    background-color: #c11146;
}

.post {
    width: 100%;
    max-width: 800px;
}

.post-card {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    width: 100%;
}

.post h3 {
    margin: 0 0 10px;
    color: #333;
}

.post p {
    margin: 0 0 10px;
    color: #555;
}

.post span {
    display: block;
    color: #777;
    font-size: 14px;
}