.header {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #ED145B;
}

.header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ED145B;
    cursor: pointer;
    font-size: 16px;
}

.header button:hover {
    background-color: #c11146;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-container h2 {
    margin-bottom: 20px;
    color: #ED145B;
}

.form-container input, .form-container textarea {
    width: calc(100%);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e1e1e1;
    color: #a10e40;
}

.form-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ED145B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.form-container button:hover {
    background-color: #c11146;
}